<div class="product-container">
    <h2 class="product-info-title" >Product Info</h2>
    <div class="product-info">
        <div class="message">
            You have selected
        </div>
        <div class="product-details">
          <div>
          <div class="detail">
            <div class="detail-label">
                Name:
            </div>
            <div class="detail-value">
                {{ product.name }}
            </div>
          </div>
          <div class="detail">
            <div class="detail-label">
                Description:
            </div>
            <div class="detail-value">
                {{ product.description }}
            </div>
          </div>
          <div class="detail">
            <div class="detail-label">
                Price:
            </div>
            <div class="detail-value">
                {{ product.price }}
            </div>
          </div>
          </div>
        </div>
    </div>
</div>
