
<div class="home-container">
    <h2 class="greetings">Greetings Chaitanya</h2>
    <div>
      <div class="welcome-message">
          Welcome to whole new experience of online shopping.
      </div>
      <div class="container-description-desktop">
        Please select one of the products from the left navigation menu to know about it's details.
      </div>
      <div class="container-description-mobile">
        Please select Show from the top button to see the list of products and select a product to know about it's details.
      </div>
    </div>
</div>
